@import '~office-ui-fabric-react/dist/sass/References.scss';

.faqSpFxClientSideWebPart {
  text-align: left;
  font-size: 13px;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
  .head {
    max-width: 100%;
    padding: 15px 0px 15px 10px;
    border-bottom: 1px solid black;
  }  

  .head h1, .head span {
    width: 100%;
    font-weight: lighter;
  }
  
  .head span{
    font-size: .9em;
  }

  .container {
    max-width: 100%;
    margin: 0px auto;
  }

  
}
